body {
      background-color:#11141B;
      margin: 0;
      padding: 0;
      display: flex;
    }

    aside {
      font-family: 'Hedvig Letters Serif', serif;
      font-family: 'Playfair Display', serif;
      width: 170px;
      background-color: #242633;
      color: white;
      padding: 20px;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      
    }
    
    aside a {

      color: white; 
      text-decoration: none;
    }

    main {
      flex: 1;
      padding: 20px;
    }

    main{
      font-family: 'Hedvig Letters Serif', serif;
      font-family: 'Libre Baskerville', serif;
      color:white;
    }
    main{
      background-image: url('https://media.tenor.com/xDH6oELEQs4AAAAC/stars-sky.gif');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      margin: 0;
  }


    a{
      text-decoration: none;
    }


    #new{
      font-family:Vina Sans;
    }

  main {margin: 0;}

  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#11141B;
    position: fixed;
    top: 0;
    left:210px;
    width: 100%;
  }

  .navbar li {
    float: left;
  }

  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  li a:hover {
  text-decoration: underline;
  }

  .link{
      font-family: 'Hedvig Letters Serif', serif;
      font-family: 'Libre Baskerville', serif;
      font-size: 1.5em;
  }

.socialmedia{
    text-align:center;
    display:inline;
    background-color: #5c5c5c;
    border-radius: 100px;
    margin:10px;
}
.footerarea{
    border:2px solid #5c5c5c;
}

.inline-containerhouse{
  display: flex;
  align-items: center;
}

#motto{
  margin:100px;
}

.jh1h2{
  text-align: center;
}

.motto1{
  text-align:left;
}

#main{
  margin-left:200px;
}

#iframe{
  margin-left:400px;
}

.login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loginlabel {
    display: block;
    margin-bottom: 8px;
}

.logininput {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.loginbutton {
    background-color: #3d3485;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.housebutton{
  background-color: #3d3485;
  color:white;
}

#scrollToTopBtn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            display: none;
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
}

#loginlink{
  color:white;
  text-decoration: none;
}

#loginlink:hover{
  text-decoration: underline;
}

.jquestion {
            background-color: rgba(255, 255, 255, 0.46);
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 10px;
}

.jresult {
            display: none;
            text-align: center;
}

.jsortingimg {
            max-width: 100%;
            height: auto;
            margin: 20px;
}



#csl{
     margin: 0;
      display: block;
      justify-content: center;
      align-items: center;
      height: 100vh;
}

#ccontainer {
    width: 60%; /* 设置container的宽度 */
    overflow: hidden;
    /*position: relative;*/
}

.cdivision {
    width: 100%;
    float: left;
    transition: transform 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ccontent{
    max-width: 80%; /* 设置内容的最大宽度 */
}

.cimg {
    width: 100%; /* 图片充满整个division */
    height: auto; /* 保持宽高比 */
}

.cmap {
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.csltitle{
    font-family:'Libre Baskerville', serif;
}




#ctitle {
  align-items: center;
  background:#11141B;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family:'Libre Baskerville', serif;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 100px;
}

#cletter {
    font-size: 10vw;
    line-height: 1;
    display: flex;
    text-align: center;
}

#cletter > span {
  display: inline-block;
  overflow: hidden;
  transition-duration: 0.2s;
  transition-property: transform;
}

#cletter > span span {
  display: inline-block;
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

#cletter > span:nth-child(odd) {
  transform: translateY(50%);
}

#cletter > span:nth-child(odd) span {
  transform: translateY(-100%);
}

#cletter> span:nth-child(even) {
  transform: translateY(-50%);
}

#cletter > span:nth-child(even) span {
  transform: translateY(100%);
}

#cletter.loaded  > span {
  transform: translateY(0);
}

#cletter.loaded > span span {
  transform: translateY(0);
}
/*button*/
:root {
  --fuschia: #ff0081;
  --button-bg: var(--fuschia);
  --button-text-color: #fff;
  --baby-blue: #f8faff;
}
.bubbly-button{
    text-align: center;
    font-size: 16px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    margin-top: 100px;
    margin-bottom: 60px;
  -webkit-appearance: none;
    appearance: none;
    color: #1B45B0;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  
  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
    display: none;
    top: -75%;
    background-image:  
      radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
    radial-gradient(circle, $button-bg 20%, transparent 20%), 
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }
  
  &:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, $button-bg 20%, transparent 20%), 
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
 
  &:active{
    transform: scale(0.9);
    background-color: darken($button-bg, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}





.jieshao{
    text-transform: uppercase;  
}
.introduce{
    color: white;
}
.pr{
    display:flex;
    align-items: center;
    line-height: 18px;
}
.toto{
        border: 3px solid #52527a;
}

.h5font{
    margin-left: 10px;
}


.pkc{
    width:250px;
    margin: 5px;
    transition: width 5s;
  transition: hight 5s;
    display:inline;
    transition:width 0.4s;
}
.pkc:hover{
  width: 255px;
}

.cilink{
      font-family: 'Hedvig Letters Serif', serif;
      font-family: 'Libre Baskerville', serif;
      font-size: 1.35em;
  }